In [1]:
print('hello')

hello

In [8]:
print('hello {}' .format ('olga'))

hello olga

In [9]:
m=[1,2,3]

In [10]:
m

[1, 2, 3]

In [11]:
m[0]=8

In [12]:
m

[8, 2, 3]

In [13]:
t=('a','b','c')

In [14]:
t

('a', 'b', 'c')

In [16]:
print ='hello'

In [17]:
print

'hello'

In [18]:
print[1]

'e'

In [22]:
print[::-1]

'olleh'

In [25]:
list3 = [1,2,[3,4,'Hello']]

In [26]:
list3

[1, 2, [3, 4, 'Hello']]

In [30]:
list3[2][2] ='Goodbye'

In [31]:
list3

[1, 2, [3, 4, 'Goodbye']]

In [36]:
 d={'k1':[{'nest_key':['this is deep',['hello']]}]}

In [50]:
d['k1'][0]['nest_key'][1]

['hello']

In [74]:
hungry

False

In [15]:
mylist=[1,2,3,4,5,8]

for num in mylist:
    
      if num % 2 == 0:
            print(num)

2
4
8

In [38]:
st = 'Print only the words that start with s in this sentence'

In [84]:
for num in st.split():
    if num[0]   == 's':
         print (num)

start
s
sentence

In [92]:
numbers =[5,2,4,1,3,6,9,8,10]

In [100]:
for num in numbers:
    if num %2==0:
         print (num)

2
4
6
8
10

In [113]:
list = [  num**1 for num in range (0,51,3)]

In [114]:
print (list)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [115]:
st = 'Print every word in this sentence that has an even number of letters'

In [131]:
for num in st.split():
    if len(num) %2==0:
        print('even')

even
even
even
even
even
even
even
even
even

In [127]:
st

'Print every word in this sentence that has an even number of letters'

In [143]:
for num in range (1,101):
    if num%3 == 0 and num%5 == 0:
        print ('fizzbuzz')
    if num%3 == 0:
        print('fizz')
    if num%5 == 0:
        print ('buzz')

fizz
buzz
fizz
fizz
buzz
fizz
fizzbuzz
fizz
buzz
fizz
buzz
fizz
fizz
buzz
fizz
fizzbuzz
fizz
buzz
fizz
buzz
fizz
fizz
buzz
fizz
fizzbuzz
fizz
buzz
fizz
buzz
fizz
fizz
buzz
fizz
fizzbuzz
fizz
buzz
fizz
buzz
fizz
fizz
buzz
fizz
fizzbuzz
fizz
buzz
fizz
buzz
fizz
fizz
buzz
fizz
fizzbuzz
fizz
buzz
fizz
buzz
fizz
fizz
buzz

In [144]:
st = 'Create a list of the first letters of every word in this string'

In [147]:
[word for word in st.split()]

['Create',
 'a',
 'list',
 'of',
 'the',
 'first',
 'letters',
 'of',
 'every',
 'word',
 'in',
 'this',
 'string']

In [154]:
me ='olga is here'

In [155]:
[word for word in me.split()]

['olga', 'is', 'here']

In [156]:
def add_function(num1,num2):
    return num1+num2

In [158]:
add_function(5,55)

60

In [173]:
def say_hello(name):
    print(f'hello {name}')

In [174]:
say_hello('olga')

hello olga

In [6]:
10%1

0

In [7]:
8%6

2

In [46]:
def even_check(number):
    result = number % 2 == 0
    return result

In [47]:
even_check(3)

False

In [7]:
work_hours = [('abby',100),('billy',200),('cassie',300)]

In [8]:
def employee_check(work_hours):


    current_max = 0
    employee_of_month = ''
    
    for employee,hours in work_hours:
        if hours>current_max:
            current_max = hours
            employee_of_month = employee
        else:
            pass
    return(employee_of_month,current_max)

In [9]:
result = employee_check(work_hours)

In [10]:
result

('cassie', 300)

In [14]:
example = [1,2,3,4,5]

In [15]:
mylist= [' ','0',' ']

In [18]:
def myfunc(a,b):
    return a*b

In [19]:
myfunc(5,12)

60

In [30]:
def myfunke(a,b):
    return sum((a,b))

In [31]:
myfunke(5,5)

10

In [37]:
def myfunk(**kwargs):
    if 'fruit' in kwargs:
        print('My fruit of choise is {}'.format(kwargs['fruit']))
    else:
        print('I did not find any fruit here')

In [70]:
myfunk(fruit='mango')

My fruit of choise is mango

In [85]:
def lesser_of_two_evens(a,b):
    if a%2 == 0 and b%2 ==0:
        if a<b:
            result = a
        else:
            result = b
    else:
        if a>b:
            result = a
        else:
            result = b
        return result

In [90]:
lesser_of_two_evens(2,4)

In [100]:
def square(num):
    return num**2

In [101]:
my_t=[1,2,3,4,5]

In [7]:
print('hi')

hi

In [18]:
def vol(rad):
    return(4/3)*(3.14)*(rad**3)

In [20]:
vol(2)

33.49333333333333

In [71]:
def game(row1,row2,row3):
    print(row1)
    print(row2)
    print(row3)

In [72]:
row1 = [' ', ' ', ' ']
row2 = [' ', ' ', ' ']
row3 = [' ', ' ', ' ']

In [73]:
game(row1,row2,row3)

[' ', ' ', ' ']
[' ', ' ', ' ']
[' ', ' ', ' ']

In [75]:
row1[1]='X'

In [77]:
game(row1,row2,row3)

[' ', 'X', ' ']
[' ', ' ', ' ']
[' ', ' ', ' ']